:root {
  // Colores
  --main-color: #1ea992;
  --magenta: #ea1992;
  --maroon: #e1a992;
  --yellow: #feefc3;
  --green: #1ae992;

  --lightgreen: #a1e992;
  --deepgreen: #ae1;
  --deepmagenta: #e1a;
  --lightmagenta: #ff66b3;

  --white: #f5f5f5;
  --black: #252525;
  --lightgray: #b9b9b9;
  --darkgray: #656565;

  // Colores con transparencias
  --transparent: rgba(0, 0, 0, 0);
  --main-color-translucid: rgb(30 169 146 / 40%);
  --deepgreen-translucid: rgb(170 238 17 / 40%);

  --white-translucid: rgb(245 245 245 / 85%);
  --black-translucid: rgb(37 37 37 / 60%);
  --black-tenous: rgb(37 37 37 / 20%);

  // Typografía
  --default-font-size: 1.8rem;

  --primary-heading-size: 4.2rem;
  --secondary-heading-size: 3.6rem;
  --serif-tertiary-heading-size: 2.6rem;
  --sans-tertiary-heading-size: 2.2rem;
  --quaternary-heading-size: 1.8rem;
  --quinary-heading-size: 1.6rem;

  // Fuentes
  --lato: "Lato", sans-serif;
  --oranienbaum: "Oranienbaum", serif;

  // Espaciado
  --tn-size: 1rem;
  --sm-size: 2rem;
  --md-size: 3rem;
  --bg-size: 4rem;
  --lg-size: 5rem;

  // Tamaño de la barra de navegación
  --header-size: 10rem;

  @include responsive(tab-land) {
    --primary-heading-size: 6.4rem;
    --tn-size: 1.25rem;
    --sm-size: 2.5rem;
    --md-size: 3.75rem;
    --bg-size: 5rem;
    --lg-size: 6.25rem;
  }

  @include responsive(desktop) {
    --header-size: 15rem;
    --tn-size: 1.5rem;
    --sm-size: 3rem;
    --md-size: 4.5rem;
    --bg-size: 6rem;
    --lg-size: 7.5rem;
  }
}
